ol > li {
    margin-top: 1.5rem;
}

.wrapper > li {
    margin-top: 0.875rem;
}

form ol {
	margin-left: 2rem;
}

ul {
	list-style-type: lower-alpha;
}

fieldset {
    display: block;
}

li::before {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    width: 0;
}